<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTraCuuPhim"
        tools:targetApi="31">
        <activity
            android:name=".activity.AllItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AllSeasonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SeasonListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdvancedSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailEpisodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SeasonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CompanyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NetworkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CastActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EpisodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AlbumActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FilmDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>